@import 'variables.styles';

.navbar-main ~ * { padding: 120px 150px 0 150px; }

.crew-container {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 75vh;
    .crew-column {
        * { margin-bottom: 15px; }
        .heading { 
            font-size: 28px; 
        }
        .crew-title { 
            opacity: 0.4;
            font-size: 32px;
        }
        .crew-navbar ul {
            padding: 0;
            a {
                display: inline-block;
                margin: 0 7px;
                background-color: $primaryLight;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                opacity: 0.2;
                &.active { opacity: 1.0; }
                &:hover { opacity: 0.5; }
            }
        }
        &:first-child {
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            width: 65%; 
        }
        &:last-child { 
            display: flex;
            justify-content: flex-end;
            width: 80%;
            .crew-image {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    width: 70%; 
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-main ~ * { padding: 50px 50px 0 50px;}
    .crew-container {
        height: 80vh;
        position: unset;
        flex-direction: column-reverse;

        .crew-column {
            flex-direction: column-reverse;
            &:first-child {
                width: 100%;
                align-content: unset;
                .heading {
                    @include subheading-2;
                    order: 1;
                    text-align: center;
                }
                .crew-information {
                    width: 100%;
                    text-align: center;
                    .crew-title {font-size: $font-18; }
                    .crew-name { font-size: $font-32; }
                   
                }
                .crew-navbar {
                    width: 100%;
                    text-align: center;
                    ul a { 
                        width: 10px; 
                        height: 10px; 
                    }
                }
            }
            &:last-child {
                order: 0;
                width: 100%;    
                display: flex;

                .crew-image {
                    img {
                        position: relative;
                        width: 60%;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::after {
                        content: "";
                        border-top: 1px solid white;
                        opacity: 0.3;
                        height: 15px;
                        display: block;
                    }
                }
            }
        }

    }
}

@media (min-width: 767px) and (max-width: 1023px) { 
    .navbar-main ~ * { padding: 50px 50px 0 50px;}
    .crew-container {
        height: 45vh;
        position: unset;
        flex-wrap: wrap;

        .crew-column {
            * { margin-bottom: 0; }
            &:first-child {
                width: 100%;
                align-content: unset;
                .crew-information {
                    width: 100%;
                    text-align: center;
                    .crew-title {font-size: $font-28; }
                    .crew-body { 
                        display: block;
                        margin: 0 auto;
                        width: 60%; 
                    }
                }
                .crew-navbar {
                    width: 100%;
                    text-align: center;
                }
            }
            &:last-child {
                width: 100%;            
                .crew-image {
                    position: unset;
                    img {
                        width: 45%;
                        bottom: 0;
                        right: 50%;
                        transform: translateX(50%);
                    }
                }
            }
        }
    }
}