@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Bellefair&display=swap");
.destination-container {
  display: flex;
  flex-direction: row;
}
.destination-container .destination-column .destination-image {
  width: 90%;
  display: flex;
  justify-content: center;
}
.destination-container .destination-column .destination-image img {
  width: 400px;
}
.destination-container .destination-column:first-child {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}
.destination-container .destination-column:last-child {
  padding: 60px 0 50px;
  width: 40%;
}
.destination-container .destination-navbar ul {
  padding: 0;
}
.destination-container .destination-navbar ul a {
  font-size: 16px;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: #D0D6F9;
  padding: 0 10px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.destination-container .destination-navbar ul a.active {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.destination-container .destination-navbar ul a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.603);
}
.destination-container hr {
  margin: 20px 0 20px;
  opacity: 0.2;
}
.destination-container .destination-number {
  opacity: 0.3;
  font-weight: 700;
}
.destination-container .destination-text {
  padding: 0 0 45px;
  font-weight: 300;
}
.destination-container .destination-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.destination-container .destination-information .destination-distance-title,
.destination-container .destination-information .destination-travel-time-title {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 32px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 300;
}
.destination-container .destination-information .destination-distance-km,
.destination-container .destination-information .destination-travel-time-days {
  font-size: 28px;
  letter-spacing: 4.75px;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair", serif;
  letter-spacing: unset;
}

@media (max-width: 767px) {
  .destination-container {
    flex-direction: column;
    align-items: center;
  }
  .destination-container .destination-column .destination-image {
    padding: 50px 0 5px;
    width: 100%;
  }
  .destination-container .destination-column .destination-image img {
    width: 60vw;
  }
  .destination-container .destination-column:first-child, .destination-container .destination-column:last-child {
    width: 100%;
  }
  .destination-container .destination-column:last-child {
    padding: 15px 0;
  }
  .destination-container .destination-heading {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
  .destination-container .destination-name {
    font-family: "Bellefair", serif;
    font-size: 56px;
  }
  .destination-container .destination-navbar,
.destination-container .destination-name,
.destination-container .destination-text {
    padding: 15px 0;
    text-align: center;
  }
  .destination-container .destination-information {
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: unset;
  }
  .destination-container .destination-information div {
    margin: 5px;
  }
  .destination-container .destination-text {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .destination-container {
    flex-direction: column;
    align-items: center;
  }
  .destination-container .destination-column .destination-image {
    padding: 50px 0 5px;
    width: 100%;
  }
  .destination-container .destination-column .destination-image img {
    width: 40vw;
  }
  .destination-container .destination-column:first-child, .destination-container .destination-column:last-child {
    width: 100%;
  }
  .destination-container hr {
    width: 70%;
    display: block;
    margin: 25px auto 30px;
  }
  .destination-container .destination-heading {
    font-size: 20px;
    font-weight: 300;
  }
  .destination-container .destination-navbar,
.destination-container .destination-name,
.destination-container .destination-text {
    padding: 15px 0;
    text-align: center;
  }
  .destination-container .destination-information {
    text-align: center;
    justify-content: space-around;
    width: unset;
  }
  .destination-container .destination-text {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}/*# sourceMappingURL=destination.styles.css.map */