@import 'variables.styles';

.destination-container {
    display: flex;
    flex-direction: row;
    .destination-column {
        .destination-image { 
            width: 90%;
            display: flex;
            justify-content: center;
            img { width: 400px; }
        }
        &:first-child { 
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            width: 60%; 
        }
        &:last-child {
            padding: 60px 0 50px;
            width: 40%; 
        }
    }
    
    .destination-navbar ul {
        padding: 0;
        a {
            @include subheading-2;
            letter-spacing: 2px;
            font-weight: 300;
            color: $primaryLight;
            padding: 0 10px 10px;
            border-bottom: 2px solid rgba(0,0,0,0);
    
            &.active { 
                color: $primary; 
                border-bottom: 2px solid $primary;
            }
            &:hover { border-bottom: 2px solid rgba(255, 255, 255, 0.603); }
        }
    }
    hr { 
        margin: 20px 0 20px;
        opacity: 0.2; 
    }
    .destination-number {
        opacity: 0.3;
        font-weight: 700;
    }
    .destination-text { 
        padding: 0 0 45px; 
        font-weight: 300;
    }
    .destination-information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        .destination-distance-title,
        .destination-travel-time-title {
            @include body-text;
            font-size: 12px;
            letter-spacing: 2px;
            font-weight: 300;
        }
        .destination-distance-km,
        .destination-travel-time-days {
            @include heading-5;
            font-family: $primaryFont;
            letter-spacing: unset;
        }
    }
}

@media (max-width: 767px) {
    .destination-container {
        flex-direction: column;
        align-items: center;
        .destination-column {
            .destination-image { 
                padding: 50px 0 5px;
                width: 100%;
                img {
                    width: 60vw;
                } 
            }
           &:first-child,
           &:last-child {
            width: 100%;
           }
           &:last-child {
            padding: 15px 0;
           }
        }

        .destination-heading { 
            font-size: 20px; 
            font-weight: 300;
            width: 100%;
            text-align: center;
        }

        .destination-name { @include heading-3; }

        .destination-navbar,
        .destination-name,
        .destination-text { 
            padding: 15px 0;
            text-align: center; 
        }

        .destination-information {
            text-align: center;
            flex-direction: column;
            justify-content: space-around;
            width: unset;
            div {
                margin: 5px;
            }
        }

        .destination-text {
            width: 90%; 
            display: block;
            margin: 0 auto;
        }
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .destination-container {
        flex-direction: column;
        align-items: center;
        .destination-column {
            .destination-image { 
                padding: 50px 0 5px;
                width: 100%;
                img {
                    width: 40vw;
                } 
            }
           &:first-child,
           &:last-child {
            width: 100%;
           }
        }

        hr { 
            width: 70%; 
            display: block;
            margin: 25px auto 30px;
        }

        .destination-heading { 
            font-size: 20px; 
            font-weight: 300;
        }

        .destination-navbar,
        .destination-name,
        .destination-text { 
            padding: 15px 0;
            text-align: center; 
        }

        .destination-information {
            text-align: center;
            justify-content: space-around;
            width: unset;
        }

        .destination-text {
            width: 80%; 
            display: block;
            margin: 0 auto;
        }
    }
}